In [2]:
import pandas as pd

In [3]:
url = 'data/df_t.csv'

In [4]:
dados = pd.read_csv(url)

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741344 entries, 0 to 1741343
Data columns (total 12 columns):
 #   Column                          Dtype
---  ------                          -----
 0   nk_ota_localizer_id             object
 1   fk_contact                      object
 2   date_purchase                   object
 3   time_purchase                   object
 4   place_origin_departure          object
 5   place_destination_departure     object
 6   place_origin_return             object
 7   place_destination_return        object
 8   fk_departure_ota_bus_company    object
 9   fk_return_ota_bus_company       object
 10  gmv_success                     float64
 11  total_tickets_quantity_success  int64
dtypes: float64(1), int64(1), object(10)
memory usage: 159.4+ MB

In [6]:
dados.shape

(1741344, 12)

In [ ]:
dados.head()

,nk_ota_localizer_id,fk_contact,date_purchase,time_purchase,place_origin_departure,place_destination_departure,place_origin_return,place_destination_return,fk_departure_ota_bus_company,fk_return_ota_bus_company,gmv_success,total_tickets_quantity_success
0,bc02d5245bec63b30ff1102fa273fc03f58bc9cc3f674e...,a7218ff4ee7d37d48d2b4391b955627cb089870b934912...,2018-12-26,15:33:35,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,50e9a8665b62c8d68bccc77c7c92431a1aa26ccbd38ed4...,0,0,8527a891e224136950ff32ca212b45bc93f69fbb801c3b...,1,89.09,1
1,5432f12612dd5d749b3be880e779989cf63b5efa4bcc4e...,37228485e0dc83d84d1bcd1bef3dc632301bf6cb22c8b5...,2018-12-05,15:07:57,10e4e7caf8b078429bb1c80b1a10118ac6f963eff098fd...,e6d41d208672a4e50b86d959f4a6254975e6fb9b088116...,0,0,36ebe205bcdfc499a25e6923f4450fa8d48196ceb4fa0c...,1,155.97,1
2,fb3caed9b2f1b6016d45ccddb19095476e61a2c85faa8e...,3467ec081e2421e72c96e7203b929d21927fd00b6b5f28...,2018-12-21,18:41:54,7688b6ef52555962d008fff894223582c484517cea7da4...,8c1f1046219ddd216a023f792356ddf127fce372a72ec9...,0,0,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,1,121.99,1
3,4dc44a6dd592b702feccb493d192210c86965aee684529...,ab3251a2be0f69713b8f97b0e9d1579e31551f4fd4facf...,2018-12-06,14:01:38,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,d6acb3c1a79e57bcc03d976cb4d98f56edccd4cf426392...,0,0,5f9c4ab08cac7457e9111a30e4664920607ea2c115a143...,1,55.22,1
4,aa34ed7fd0a6b405df2df1bf9f8d68e6df9b9a868a6181...,ceea0de820a6379f2c4215bddaec66c33994b304607e56...,2021-02-23,20:08:25,7688b6ef52555962d008fff894223582c484517cea7da4...,23765fc69c4e3c0b10f5d15471dc2245e2a19af16b513f...,0,0,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,1,45.31,1

In [8]:
dados['date_purchase'] = pd.to_datetime(dados['date_purchase'])

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741344 entries, 0 to 1741343
Data columns (total 12 columns):
 #   Column                          Dtype
---  ------                          -----
 0   nk_ota_localizer_id             object
 1   fk_contact                      object
 2   date_purchase                   datetime64[ns]
 3   time_purchase                   object
 4   place_origin_departure          object
 5   place_destination_departure     object
 6   place_origin_return             object
 7   place_destination_return        object
 8   fk_departure_ota_bus_company    object
 9   fk_return_ota_bus_company       object
 10  gmv_success                     float64
 11  total_tickets_quantity_success  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 159.4+ MB

In [10]:
dados['day_of_week'] = dados['date_purchase'].dt.day_of_week

In [11]:
mapa_dias = {
    0: 'segunda-feira', 1: 'terça-feira', 2: 'quarta-feira',
    3: 'quinta-feira', 4: 'sexta-feira', 5: 'sábado', 6: 'domingo'
}

In [12]:
dias = dados.groupby('day_of_week')

In [13]:
contagem_por_dia = dados.groupby('day_of_week').size().reset_index(name='numero_de_registros')
contagem_por_dia

   day_of_week  numero_de_registros
0            0               246772
1            1               235591
2            2               245771
3            3               268979
4            4               282752
5            5               211524
6            6               249955

In [14]:

# 1. Extrai o número do dia da semana (Segunda=0, Domingo=6)
dados['dia_da_semana_num'] = dados['date_purchase'].dt.dayofweek

# 2. Mapeia os números para os nomes dos dias em português para evitar erros de 'locale'
mapa_dias = {
    0: 'segunda-feira',
    1: 'terça-feira',
    2: 'quarta-feira',
    3: 'quinta-feira',
    4: 'sexta-feira',
    5: 'sábado',
    6: 'domingo'
}
dados['dia_da_semana'] = dados['dia_da_semana_num'].map(mapa_dias)

# 3. Agrupa pelo dia da semana, conta os registros e nomeia a coluna de contagem
contagem_por_dia = dados.groupby('dia_da_semana').size().reset_index(name='numero_de_registros')

# 4. Opcional: Ordena o resultado para uma visualização lógica
dias_ordenados = [ 'domingo','segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado',]
contagem_por_dia['dia_da_semana'] = pd.Categorical(contagem_por_dia['dia_da_semana'], categories=dias_ordenados, ordered=True)
contagem_por_dia = contagem_por_dia.sort_values('dia_da_semana')

Exibe o DataFrame final com a contagem por dia da semana

In [15]:
contagem_por_dia

   dia_da_semana  numero_de_registros
0        domingo               249955
3  segunda-feira               246772
6    terça-feira               235591
1   quarta-feira               245771
2   quinta-feira               268979
4    sexta-feira               282752
5         sábado               211524

Contagem de campos nulos

In [16]:
sum(dados.isnull().sum())

0

Obtem o númerod e clientes de compra única

In [22]:
num_clientes_compra_unica = (dados['fk_contact'].value_counts() == 1).sum()
num_clientes_compra_unica

np.int64(311039)